


script!= 'docData = '+params.documentStr




link(rel="stylesheet", type="text/css", href='/static/styles/pages/pdf-viewer.css')
script(src="/static/scripts/pdf/pdf.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/2.2.0/math.min.js")
script.
	PDFJS.workerSrc = '/static/scripts/pdf/pdf.worker.js';
//- script(src='/static/scripts/pdf-viewer.js')
script(src='/static/scripts/pdf-viewer/canvasFunctions.js')
script(src='/static/scripts/pdf-viewer/pdfAppController.js')
script(src='/static/scripts/pdf-viewer/pdfViewerController.js')
script(src='/static/scripts/pdf-viewer/toolboxController.js')
script(src='/static/scripts/pdf-viewer/paint.js')
script(src='/static/scripts/jquery.transform2d.js')
script(src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
script(type="text/x-mathjax-config").
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});

div(ng-controller='pdf-app')
	div#toolbox(ng-controller='toolbox')
		.item(ng-repeat='action in actions', ng-click='press(action)', ng-class='{active: (isFunction(action.pressed) ? action.pressed() : action.pressed)}')
			i(class='fa fa-{{action.icon}}')
			span {{action.label}}
	div#rightPanel(ng-controller='right-panel', ng-mousemove='resizing && resize($event, true)', ng-mouseup='resizing && finishResize()')
		.resizer(ng-mousedown='resize($event)', ng-mousemove='resizing && resize($event, true)', ng-mouseup='resizing && finishResize()')
		div(ng-show='!ableToDrawComment', ng-controller='annotations-details').annotations
			h1(ng-show='isThereAnnotationForPage(currentPdfPage)') Liste des questions sur la page {{currentPdfPage}}
			h1(style='text-align: center;', ng-show='!isThereAnnotationForPage(currentPdfPage)') Pas de questions pour le moment <i class='fa fa-frown-o'></i>
			div(ng-repeat='annotation in annotations | filter:{page: currentPdfPage} | orderBy : "-show"', ng-mouseover='annotation._show = true;', ng-mouseout='annotation._show = false;', ng-class='{emph: isAreaUnselected() || annotation._show || annotation.show}').annotation
				div.description(marked='annotation.description')
				.imageWrapper(ng-style='{"background-image": "url("+annotation.image+")"}')
				.details
					.content
						span Par <em>{{annotation.author.name}}</em> le <em>{{annotation.when | date:'dd/MM/YY à hh:mm'}}</em>
						span {{annotations.responses}} réponse{{(annotations.anwsers>=1) ? "s" : ""}}
						span (dernière : il y a {{(currentTime - annotations.lastAnwsers.when)/(1000*60)}} min)
		div(ng-show='ableToDrawComment').newComment
			.helper(ng-class='{hide: ableToDrawComment=="composing"}')
				| Pour poser une nouvelle question, cliquez puis glissez votre souris sur le document afin de dessiner la zone sur laquelle votre question porte.
			.content
				.title Poser une nouvelle question
				.about
					.tools(ng-init='activeTool = 0; colors = ["black", "black"];')
						.tool(ng-class='{active: activeTool==0}', ng-style='{color: colors[0]}', ng-click='paint.use(1, "pen", colors[0]);activeTool=0')
							i.fa.fa-pencil
						.tool(ng-class='{active: activeTool==1}', ng-style='{color: colors[1]}', ng-click='paint.use(0.3, "highlighter", colors[1]);activeTool=1')
							i.fa.fa-i-cursor
						.tool(ng-class='{active: activeTool==2}', ng-click='paint.use(1, "eraser");activeTool=2')
							i.fa.fa-eraser
						.colors
							each color, k in ['black', '#f1c40f', '#27ae60', '#d35400']
								.tool(ng-show='activeTool<2', style='color: '+color+';', ng-click='paint.changeColor("'+color+'");colors[activeTool] = "'+color+'"')
									i.fa.fa-square
						.select(ng-init='sizes = [["Énorme", 10], ["Gros", 5], ["Moyen", 2], ["Petit", 1]]; currentSize = 2; isOpen=false;')
							.tool.current(ng-click='isOpen = !isOpen') {{sizes[currentSize][0]}}
							.dropdown.list-group(ng-show='isOpen')
								.tool.list-group-item(ng-repeat='(k, size) in sizes', ng-click='paint.changeSize(size[1]);$parent.currentSize=k;$parent.isOpen=false;')
									i.fa.fa-circle(ng-style='{"font-size": size[1]*1.2}')
									|{{size[0]}}
					.place
						div
				.help
					| Dans votre message, il est possible d'utiliser 
					a(href='https://openclassrooms.com/courses/redigez-en-markdown') Markdown
					|  et 
					a(href='/static/other/LaTeX-math-doc.pdf') LaTeX
					|.
					| La zone de droite prévisualise votre message.
				.writing
					.white
					textarea(placeholder="Tapez votre question ici",ng-model='description', onkeyup='textAreaAdjust(this)', ng-change='descriptionRefresh()')
					div.render(marked='_description')
				button(ng-click='sendComment(description)') Poser ma question / remarque !
	div#leftPanel(ng-mousemove='resizing && resize($event, true, true)', ng-mouseup='resizing && finishResize()')
		div#pdfArea
			div#pdfPlace(ng-controller='pdf-viewer')
				canvas#pdf(ng-mousedown='(ableToDrawComment===true) && beginAnnotation($event)', ng-mousemove='writingAnnotationMove($event)', ng-mouseup='ableToDrawComment===true && stopAnnotation()')
				//- canvas#makeComment(ng-class='{ableToDrawComment: $parent.ableToDrawComment}')
				#annotations
					div.annotation(
							ng-repeat='annotation in annotations | filter:filterAnnotationsToShow',
							ng-style='getStyleForAnnotation(annotation)',
							ng-show='!$parent.ableToDrawComment || annotation.newOne',
							ng-mousemove='propagate_writingAnnotationMove($event)',
							ng-mousedown='$parent.ableToDrawComment && annotation.newOne && stopAnnotation()',
							ng-mouseup='$parent.ableToDrawComment && annotation.newOne && stopAnnotation()'
						)
				div.comment(
						ng-repeat='(k,area) in areas',
						ng-if='displayComments && (+currentPdfPage==+area.page)',
						ng-click='$parent.$parent.selectedArea = (selectedArea==k) ? -1 : k;',
						ng-style='{top: area.relSY * 100 + "%", height: (area.relEY - area.relSY)*100 + "%"}',
						ng-class='{active: selectedArea==k}'
					)
					.content
						.label(
							ng-mouseover='draw(area, "rgba(0, 0, 0, 0.08)", "rgba(0, 0, 0, 0.13)")',
							ng-mouseout='clear()'
						)
							|{{area.list.length}}
